/* From Uiverse.io by reshades */
.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;

  -webkit-backdrop-filter: blur(8.2px);
  background-color: ffffff;

  height: 12em;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.form p {
  color: rgb(255 80 1);
  font-weight: bolder;
}

.inp {
  margin-left: auto;
  margin-right: auto;
  white-space: 4px;
}

.input + .input {
  margin-left: 0.5em;
}

.input {
  color: white;
  height: 2.5em;
  width: 2.5em;
  float: left;
  text-align: center;

  border-radius: 5px;
  transition: all 0.6s ease;
  font-size: larger;
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem #b3b4b6 !important;
  border-color: solid 1px #b3b4b6 !important;
}

.input:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #f95005 !important;
  border-color: #f95005 !important;
}

.input:not(:placeholder-shown) {
  background-color: #565353;
  width: 1em;
  height: 1em;
}

.form button {
  margin-left: auto;
  margin-right: auto;
  background-color: #00000000;
  color: #ffff;
  width: 8.5em;
  height: 2.3em;

  border-radius: 5px;
  transition: all 0.5s ease;
}

.form button:hover {
  color: #fff;
}

.input:not(:placeholder-shown) {
  background-color: #ffffff;
  width: 2.5em;
  height: 2.5em;
  color: #b3b4b6;
}

.custom-otp-input-sample {
  border-color: #f95005 !important;
}

